.projectLink {
  cursor: pointer;
}

.card-title {
  margin-bottom: 0;
}

.staticGif {
  position: absolute;
}

.staticGif:hover {
  opacity: 0;
}

.card-body {
  padding: 0.5rem;
}

.darkSection {
  background-color: #e2e2e2;
}
